<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
          {{#if isAdmin}}
            <li>{{#link-to "programs"}}Programs{{/link-to}}</li>
            <li>{{#link-to "sign-up"}}Add Account{{/link-to}}</li>
            <li id="account-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a href="#">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
            </li>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li>{{#link-to "edit-profile"}}Edit Profile{{/link-to}}</li>
              <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
              <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
            </ul>
            <li class="responsive-nav-item">{{#link-to "edit-profile"}}Edit Profile{{/link-to}}</li>
            <li class="responsive-nav-item">{{#link-to "change-password"}}Change Password{{/link-to}}</li>
            <li class="responsive-nav-item"><a href="#" {{action "signOut"}}>Sign Out</a></li>
          {{else}}
            <li id="account-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a href="#">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
            </li>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li>{{#link-to "edit-profile"}}Edit Profile{{/link-to}}</li>
              <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
              <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
            </ul>
            <li class="responsive-nav-item">{{#link-to "edit-profile"}}Edit Profile{{/link-to}}</li>
            <li class="responsive-nav-item">{{#link-to "change-password"}}Change Password{{/link-to}}</li>
            <li class="responsive-nav-item"><a href="#" {{action "signOut"}}>Sign Out</a></li>
          {{/if}}
        {{else}}
          <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
