<h2>{{profile.first_name}}'s Dashboard:</h2>

<h4>Full Name:{{profile.first_name}} {{profile.last_name}}</h4>
<h4>Phone: {{profile.phone_number}}</h4>
<h4>Github: {{profile.github_username}}</h4>

<div class="row">
  <div class="col-sm-3 center">
    {{#if isAdmin}}
      {{#link-to 'diagnostics' class="btn btn-info"}}Add Diagnostic{{/link-to}}
    {{/if}}
    <h4 class="center">Diagnostics</h4>
  </div>
  <div class="col-sm-3 center">
    {{#if isAdmin}}
      {{#link-to 'practices' class="btn btn-info"}}Add Practice{{/link-to}}
    {{/if}}
    <h4 class="center">Practices</h4>
  </div>
  <div class="col-sm-3 center">
    {{#if isAdmin}}
      {{#link-to 'projects' class="btn btn-info"}}Add Project{{/link-to}}
    {{#unless userProfileId}}

    {{/if}}
    <h4 class="center">Projects</h4>
  </div>
  <div class="col-sm-3 center">
    {{#if isAdmin}}
      {{#link-to 'attendences' class="btn btn-info"}}Add Attendence{{/link-to}}
    {{/if}}
    <h4 class="center">Attendences</h4>
    {{#if profile.attendences}}
      {{#each profile.attendences as |attendence|}}
        <h4>{{attendence.option}}</h4>
        <h4>{{attendence.day}}</h4>
        <h4>{{attendence.note}}</h4>
      {{/each}}
    {{else}}
      <h4> You have no absences! Great Work! </h4>
    {{/if}}
  </div>
</div>
