<td>{{profile.first_name}}</td>
<td>{{profile.last_name}}</td>
<td>{{profile.gender}}</td>
<td>{{profile.phone_number}}</td>
<td>{{profile.github_username}}</td>

<td>{{#link-to 'profile' profile class="btn btn-info"}}View Profile{{/link-to}}</td>
